*
{
	margin: 0;
	padding: 0;

}
/*---------------NavBar-------*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 70px;
	width: 70px;
	padding: 10px;
}
.navbar-nav li
{
	padding: 0 10px
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#na-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar
{
	background: #fff;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight:600;
	font-size: 16px
}

/*---------slider----------*/
#slider
{
	width: 100%;
}

.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}

/*------------About---------*/
#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}

.about-content
{
	padding-top: 20px;
}
.skills-bar p
{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress-bar
{
	border-radius: 16px
}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 20px;
}